body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black; /* Set background color to black */
    color: white; /* Set font color to white */
}

.header {
    margin-bottom: 20px;
}

.countdown {
    text-align: center;
}

#countdown-text {
    font-size: 2rem;
}
