@font-face {
    font-family: 'Elden';
    src: url('elden.otf') format('opentype');
    /* Add other font formats (e.g., woff, woff2) for better browser support */
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black; /* Set background color to black */
    color: white; /* Set font color to white */
}

.header {
    margin-bottom: 20px;
}

.countdown {
    text-align: center;
    font-family: 'Elden', Arial, sans-serif; /* Apply custom font to countdown timer */
}

#countdown-text {
    font-size: 2rem;
}
