@font-face {
    font-family: 'Elden';
    src: url('elden.otf') format('opentype');
}

body {
    font-family: 'Elden', Arial, sans-serif; /* Apply custom font to entire body */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
}

.header {
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown {
    text-align: center;
}

#countdown-text {
    font-size: 2rem;
}

#hype-button {
    font-family: 'Elden', Arial, sans-serif; /* Apply custom font to button text */
    margin-top: 20px;
    padding: 10px 20px;
    background-color: black; /* Set button background to black */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#hype-button:hover {
    background-color: #333; /* Darken button background color on hover */
}
